/* App.css */

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #4f46e5, #9333ea);
}

.quiz-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}

.question-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  background: #2563eb;
}

.option-btn:hover {
  background: #1d4ed8;
}

.correct {
  background: #22c55e !important;
}

.wrong {
  background: #ef4444 !important;
}

.score-text {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
